<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>摄像头实时识别页面</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        *{margin:0;padding:0;background:#f6fbf6;font-family:微软雅黑;}
        .wrap{width:92%;max-width:1200px;margin:30px auto;text-align:center;}
        h2{color:#297d3e;margin-bottom:20px;font-size:26px;}
        #cam{max-width:85%;max-height:620px;border:3px solid #39b54a;border-radius:10px;margin:15px auto;}
        .btn{background:#39b54a;color:white;border:none;padding:12px 26px;border-radius:24px;margin:0 10px;font-size:16px;cursor:pointer;}
        .btn-box{margin:20px 0;}
    </style>
</head>
<body>
<div class="wrap">
    <h2>🍎水果实时摄像头识别（红框自动标注）</h2>
    <div class="btn-box">
        <button class="btn" id="open">开启摄像头</button>
        <button class="btn" id="close">关闭摄像头</button>
        <button class="btn" onclick="window.close()">关闭本页面</button>
    </div>
    <img id="cam">
</div>
<script>
document.getElementById("open").onclick = async ()=>{
    await axios.post("/open_cam");
    document.getElementById("cam").src="/video_feed";
}
document.getElementById("close").onclick = async ()=>{
    await axios.post("/close_cam");
    document.getElementById("cam").src="";
}
</script>
</body>
</html>